In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

24/02/24 12:30:14 WARN Utils: Your hostname, julian-Inspiron-7559 resolves to a loopback address: 127.0.1.1; using 192.168.0.105 instead (on interface wlp5s0)
24/02/24 12:30:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

24/02/24 12:30:15 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/02/24 12:30:16 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [5]:
!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet

--2024-02-24 11:28:30--  https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-01.parquet
Resolving d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)... 2600:9000:2123:400:b:20a5:b140:21, 2600:9000:2123:9400:b:20a5:b140:21, 2600:9000:2123:6200:b:20a5:b140:21, ...
Connecting to d37ci6vzurychx.cloudfront.net (d37ci6vzurychx.cloudfront.net)|2600:9000:2123:400:b:20a5:b140:21|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 308924937 (295M) [application/x-www-form-urlencoded]
Saving to: ‘fhvhv_tripdata_2021-01.parquet’

fhvhv_tripdata_2021 100%[===================>] 294,61M  3,57MB/s    in 88s

2024-02-24 11:29:59 (3,34 MB/s) - ‘fhvhv_tripdata_2021-01.parquet’ saved [308924937/308924937]

In [29]:
#workaround porque ya no está disponible el csv en la página.
df = spark.read \
     .parquet('fhvhv_tripdata_2021-01.parquet')

In [31]:
df= df.select('hvfhs_license_num', 'dispatching_base_num', 'pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID')

In [32]:
df.show(10)

+-----------------+--------------------+-------------------+-------------------+------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
|           HV0003|              B02682|2020-12-31 21:33:44|2020-12-31 21:49:07|         230|         166|
|           HV0003|              B02682|2020-12-31 21:55:19|2020-12-31 22:18:21|         152|         167|
|           HV0003|              B02764|2020-12-31 21:23:56|2020-12-31 21:38:05|         233|         142|
|           HV0003|              B02764|2020-12-31 21:42:51|2020-12-31 21:45:50|         142|         143|
|           HV0003|              B02764|2020-12-31 21:48:14|2020-12-31 22:08:42|         143|          78|
|           HV0005|              B02510|2020-12-31 21:06:59|2020-12-31 21:43:01|          88|          42|
|           HV0005|              B02510|2020-12-31 21:50:00|2020-12-31 22:04:57|          42|         151|
|           HV0003|              B02764|2020-12-31 21:14:30|2020-12-31 21:50:27|          71|         226|
|           HV0003|              B02875|2020-12-31 21:22:54|2020-12-31 21:30:20|         112|         255|
|           HV0003|              B02875|2020-12-31 21:40:12|2020-12-31 21:53:31|         255|         232|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
only showing top 10 rows

In [34]:
df.write.csv(
    'fhvhv_tripdata_2021-01.csv',
    header=True  # Incluir encabezados de columna en el archivo CSV
)

In [35]:
!wc -l fhvhv_tripdata_2021-01.csv

11908469 fhvhv_tripdata_2021-01.csv

In [36]:
df = spark.read \
    .option("header", "true") \
    .csv('fhvhv_tripdata_2021-01.csv')

In [37]:
df.head(5)

[Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2020-12-31T21:33:44.000-03:00', dropoff_datetime='2020-12-31T21:49:07.000-03:00', PULocationID='230', DOLocationID='166'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02682', pickup_datetime='2020-12-31T21:55:19.000-03:00', dropoff_datetime='2020-12-31T22:18:21.000-03:00', PULocationID='152', DOLocationID='167'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2020-12-31T21:23:56.000-03:00', dropoff_datetime='2020-12-31T21:38:05.000-03:00', PULocationID='233', DOLocationID='142'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2020-12-31T21:42:51.000-03:00', dropoff_datetime='2020-12-31T21:45:50.000-03:00', PULocationID='142', DOLocationID='143'),
 Row(hvfhs_license_num='HV0003', dispatching_base_num='B02764', pickup_datetime='2020-12-31T21:48:14.000-03:00', dropoff_datetime='2020-12-31T22:08:42.000-03:00', PULocationID='143', DOLocationID='78')]

In [38]:
!head -n 1001 fhvhv_tripdata_2021-01.csv > head.csv

In [39]:
import pandas as pd

In [40]:
df_pandas = pd.read_csv('head.csv')

In [54]:
df_pandas.dtypes
df_pandas

,hvfhs_license_num,dispatching_base_num,pickup_datetime,dropoff_datetime,PULocationID,DOLocationID
0,HV0003,B02682,2020-12-31T21:33:44.000-03:00,2020-12-31T21:49:07.000-03:00,230,166
1,HV0003,B02682,2020-12-31T21:55:19.000-03:00,2020-12-31T22:18:21.000-03:00,152,167
2,HV0003,B02764,2020-12-31T21:23:56.000-03:00,2020-12-31T21:38:05.000-03:00,233,142
3,HV0003,B02764,2020-12-31T21:42:51.000-03:00,2020-12-31T21:45:50.000-03:00,142,143
4,HV0003,B02764,2020-12-31T21:48:14.000-03:00,2020-12-31T22:08:42.000-03:00,143,78
...,...,...,...,...,...,...
995,HV0003,B02871,2020-12-31T21:33:43.000-03:00,2020-12-31T21:47:52.000-03:00,255,61
996,HV0005,B02510,2020-12-31T21:53:10.000-03:00,2020-12-31T22:21:09.000-03:00,114,21
997,HV0003,B02512,2020-12-31T21:18:35.000-03:00,2020-12-31T21:26:53.000-03:00,167,42
998,HV0003,B02512,2020-12-31T21:35:39.000-03:00,2020-12-31T21:42:59.000-03:00,116,116
999,HV0003,B02512,2020-12-31T21:44:54.000-03:00,2020-12-31T22:15:59.000-03:00,116,132

In [50]:
from pyspark.sql import types

In [51]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True)
])

In [52]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('fhvhv_tripdata_2021-01.csv')

In [53]:
df.show(10)

+-----------------+--------------------+-------------------+-------------------+------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
|           HV0003|              B02682|2020-12-31 21:33:44|2020-12-31 21:49:07|         230|         166|
|           HV0003|              B02682|2020-12-31 21:55:19|2020-12-31 22:18:21|         152|         167|
|           HV0003|              B02764|2020-12-31 21:23:56|2020-12-31 21:38:05|         233|         142|
|           HV0003|              B02764|2020-12-31 21:42:51|2020-12-31 21:45:50|         142|         143|
|           HV0003|              B02764|2020-12-31 21:48:14|2020-12-31 22:08:42|         143|          78|
|           HV0005|              B02510|2020-12-31 21:06:59|2020-12-31 21:43:01|          88|          42|
|           HV0005|              B02510|2020-12-31 21:50:00|2020-12-31 22:04:57|          42|         151|
|           HV0003|              B02764|2020-12-31 21:14:30|2020-12-31 21:50:27|          71|         226|
|           HV0003|              B02875|2020-12-31 21:22:54|2020-12-31 21:30:20|         112|         255|
|           HV0003|              B02875|2020-12-31 21:40:12|2020-12-31 21:53:31|         255|         232|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
only showing top 10 rows

In [55]:
df = df.repartition(24)

In [56]:
df.write.parquet('fhvhv/2021/01/')

24/02/24 15:55:18 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 15:55:20 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/24 15:55:22 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [57]:
df = spark.read.parquet('fhvhv/2021/01/')

In [60]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)

SELECT * FROM df WHERE hvfhs_license_num =  HV0003

In [63]:
from pyspark.sql import functions as F

In [64]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
|           HV0005|              B02510|2021-01-04 10:52:39|2021-01-04 11:08:23|         246|         137|
|           HV0003|              B02876|2021-01-02 12:01:08|2021-01-02 12:14:29|          45|         186|
|           HV0003|              B02875|2021-01-04 06:45:12|2021-01-04 06:55:17|         167|         168|
|           HV0003|              B02865|2021-01-01 07:09:08|2021-01-01 07:21:59|          86|         265|
|           HV0005|              B02510|2021-01-02 16:45:06|2021-01-02 16:52:50|         100|         246|
|           HV0005|              B02510|2021-01-01 15:42:33|2021-01-01 16:35:22|         113|         149|
|           HV0003|              B02864|2021-01-01 00:56:29|2021-01-01 01:07:11|          69|         152|
|           HV0003|              B02872|2021-01-03 10:33:13|2021-01-03 10:44:25|         216|          95|
|           HV0003|              B02872|2021-01-03 20:27:38|2021-01-03 20:36:47|         256|          17|
|           HV0003|              B02877|2021-01-01 22:27:24|2021-01-01 22:42:36|         191|         265|
|           HV0003|              B02764|2020-12-31 23:43:41|2020-12-31 23:59:29|         249|         170|
|           HV0003|              B02872|2021-01-04 16:28:45|2021-01-04 16:46:13|          14|         108|
|           HV0005|              B02510|2021-01-02 16:24:46|2021-01-02 16:53:06|          37|          13|
|           HV0003|              B02879|2021-01-02 02:15:32|2021-01-02 02:34:41|         261|          89|
|           HV0003|              B02875|2021-01-02 16:21:44|2021-01-02 16:27:05|         229|         141|
|           HV0003|              B02764|2021-01-04 08:26:19|2021-01-04 08:38:20|         107|         161|
|           HV0003|              B02870|2021-01-03 12:58:04|2021-01-03 13:12:48|         259|         265|
|           HV0005|              B02510|2021-01-01 05:40:55|2021-01-01 05:48:01|         232|          33|
|           HV0003|              B02864|2021-01-01 19:58:51|2021-01-01 20:09:59|         263|         119|
|           HV0003|              B02870|2021-01-05 01:39:17|2021-01-05 01:51:49|          78|         265|
+-----------------+--------------------+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [65]:
def crazy_stuff(base_num):
    num = int(base_num[1:])
    if num % 7 == 0:
        return f's/{num:03x}'
    elif num % 3 == 0:
        return f'a/{num:03x}'
    else:
        return f'e/{num:03x}'

In [66]:
crazy_stuff('B02884')

's/b44'

In [67]:
crazy_stuff_udf = F.udf(crazy_stuff, returnType=types.StringType())

In [68]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('base_id', crazy_stuff_udf(df.dispatching_base_num)) \
    .select('base_id', 'pickup_date', 'dropoff_date', 'PULocationID', 'DOLocationID') \
    .show()

+-------+-----------+------------+------------+------------+
|base_id|pickup_date|dropoff_date|PULocationID|DOLocationID|
+-------+-----------+------------+------------+------------+
|  e/9ce| 2021-01-04|  2021-01-04|         246|         137|
|  e/b3c| 2021-01-02|  2021-01-02|          45|         186|
|  e/b3b| 2021-01-04|  2021-01-04|         167|         168|
|  a/b31| 2021-01-01|  2021-01-01|          86|         265|
|  e/9ce| 2021-01-02|  2021-01-02|         100|         246|
|  e/9ce| 2021-01-01|  2021-01-01|         113|         149|
|  e/b30| 2021-01-01|  2021-01-01|          69|         152|
|  e/b38| 2021-01-03|  2021-01-03|         216|          95|
|  e/b38| 2021-01-03|  2021-01-03|         256|          17|
|  s/b3d| 2021-01-01|  2021-01-01|         191|         265|
|  e/acc| 2020-12-31|  2020-12-31|         249|         170|
|  e/b38| 2021-01-04|  2021-01-04|          14|         108|
|  e/9ce| 2021-01-02|  2021-01-02|          37|          13|
|  e/b3f| 2021-01-02|  2021-01-02|         261|          89|
|  e/b3b| 2021-01-02|  2021-01-02|         229|         141|
|  e/acc| 2021-01-04|  2021-01-04|         107|         161|
|  s/b36| 2021-01-03|  2021-01-03|         259|         265|
|  e/9ce| 2021-01-01|  2021-01-01|         232|          33|
|  e/b30| 2021-01-01|  2021-01-01|         263|         119|
|  s/b36| 2021-01-05|  2021-01-05|          78|         265|
+-------+-----------+------------+------------+------------+
only showing top 20 rows

In [70]:
df.select('pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID') \
  .filter(df.hvfhs_license_num == 'HV0003').show()

+-------------------+-------------------+------------+------------+
|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|
+-------------------+-------------------+------------+------------+
|2021-01-02 12:01:08|2021-01-02 12:14:29|          45|         186|
|2021-01-04 06:45:12|2021-01-04 06:55:17|         167|         168|
|2021-01-01 07:09:08|2021-01-01 07:21:59|          86|         265|
|2021-01-01 00:56:29|2021-01-01 01:07:11|          69|         152|
|2021-01-03 10:33:13|2021-01-03 10:44:25|         216|          95|
|2021-01-03 20:27:38|2021-01-03 20:36:47|         256|          17|
|2021-01-01 22:27:24|2021-01-01 22:42:36|         191|         265|
|2020-12-31 23:43:41|2020-12-31 23:59:29|         249|         170|
|2021-01-04 16:28:45|2021-01-04 16:46:13|          14|         108|
|2021-01-02 02:15:32|2021-01-02 02:34:41|         261|          89|
|2021-01-02 16:21:44|2021-01-02 16:27:05|         229|         141|
|2021-01-04 08:26:19|2021-01-04 08:38:20|         107|         161|
|2021-01-03 12:58:04|2021-01-03 13:12:48|         259|         265|
|2021-01-01 19:58:51|2021-01-01 20:09:59|         263|         119|
|2021-01-05 01:39:17|2021-01-05 01:51:49|          78|         265|
|2021-01-01 10:06:28|2021-01-01 10:37:30|          76|         168|
|2021-01-05 07:43:15|2021-01-05 08:02:52|         163|          45|
|2021-01-01 17:24:50|2021-01-01 17:37:13|         130|          10|
|2021-01-04 16:23:13|2021-01-04 16:25:58|         123|          21|
|2021-01-05 08:42:02|2021-01-05 09:36:10|          39|         161|
+-------------------+-------------------+------------+------------+
only showing top 20 rows

In [50]:
!head -n 10 head.csv