In [7]:
import pyspark
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .config("spark.driver.memory", "4g") \
    .config("spark.executor.memory", "4g") \
    .getOrCreate()

24/02/26 16:33:54 WARN SparkSession: Using an existing Spark session; only runtime SQL configurations will take effect.

In [2]:
df_green = spark.read.parquet('data/pq/green/*/*')

In [3]:
df_green.registerTempTable('green')

df_green_revenue = spark.sql("""
SELECT 
    date_trunc('hour', lpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    green
WHERE
    lpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

/home/julian/spark/spark-3.3.2-bin-hadoop3/python/pyspark/sql/dataframe.py:229: FutureWarning: Deprecated in 2.0, use createOrReplaceTempView instead.
  warnings.warn("Deprecated in 2.0, use createOrReplaceTempView instead.", FutureWarning)

In [5]:
df_green_revenue.show()

+-------------------+----+------------------+--------------+
|               hour|zone|            amount|number_records|
+-------------------+----+------------------+--------------+
|2020-01-07 09:00:00| 146|              39.1|             3|
|2020-01-17 23:00:00| 173|              21.6|             2|
|2020-01-29 06:00:00| 116|            191.17|             8|
|2020-01-23 10:00:00| 181|            257.88|            15|
|2020-01-08 06:00:00| 159| 82.53999999999999|             2|
|2020-01-17 16:00:00| 196|190.99999999999997|            10|
|2020-01-24 01:00:00| 129|155.73000000000002|            12|
|2020-01-15 16:00:00|  14|156.70999999999998|             5|
|2020-01-19 21:00:00|  41| 415.5500000000001|            34|
|2020-01-11 19:00:00|  42|            703.45|            45|
|2020-01-08 13:00:00| 210|117.12999999999998|             6|
|2020-01-03 21:00:00|  55|             82.38|             3|
|2020-01-22 16:00:00|  65| 406.4300000000001|            26|
|2020-01-02 10:00:00|  74| 759.6499999999996|            65|
|2020-01-07 21:00:00| 181|            305.81|            18|
|2020-01-22 20:00:00| 152|             66.48|             4|
|2020-01-04 21:00:00| 244|239.80000000000004|            14|
|2020-01-17 01:00:00|  41| 90.74999999999999|             7|
|2020-01-03 09:00:00|  74|1036.3099999999993|            87|
|2020-01-11 15:00:00|  41| 937.2299999999991|            61|
+-------------------+----+------------------+--------------+
only showing top 20 rows

In [6]:
df_green_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/green', mode='overwrite')

24/02/26 16:26:05 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

24/02/26 16:26:06 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [20]:
df_yellow = spark.read.parquet('data/pq/yellow/*/*')
df_yellow.registerTempTable('yellow')

In [22]:
df_yellow_revenue = spark.sql("""
SELECT 
    date_trunc('hour', tpep_pickup_datetime) AS hour, 
    PULocationID AS zone,

    SUM(total_amount) AS amount,
    COUNT(1) AS number_records
FROM
    yellow
WHERE
    tpep_pickup_datetime >= '2020-01-01 00:00:00'
GROUP BY
    1, 2
""")

In [27]:
df_yellow_revenue \
    .repartition(20) \
    .write.parquet('data/report/revenue/yellow', mode='overwrite')

In [46]:
df_green_revenue = spark.read.parquet('data/report/revenue/green')
df_yellow_revenue = spark.read.parquet('data/report/revenue/yellow')

In [47]:
df_green_revenue_tmp = df_green_revenue \
    .withColumnRenamed('amount', 'green_amount') \
    .withColumnRenamed('number_records', 'green_number_records')

df_yellow_revenue_tmp = df_yellow_revenue \
    .withColumnRenamed('amount', 'yellow_amount') \
    .withColumnRenamed('number_records', 'yellow_number_records')

In [48]:
df_join = df_green_revenue_tmp.join(df_yellow_revenue_tmp, on=['hour', 'zone'], how='outer')

In [50]:
df_join.write.parquet('data/report/revenue/total', mode='overwrite')

In [51]:
df_join = spark.read.parquet('data/report/revenue/total')

In [56]:
df_join

DataFrame[hour: timestamp, zone: int, green_amount: double, green_number_records: bigint, yellow_amount: double, yellow_number_records: bigint]

In [54]:
df_zones = spark.read.parquet('zones/')

In [57]:
df_result = df_join.join(df_zones, df_join.zone == df_zones.LocationID)

In [62]:
df_result.drop('LocationID', 'zone').write.parquet('tmp/revenue-zones')